<div class="col-xs-10 col-xs-offset-1">
  <h1>Why?</h1>

  <p>
Blurty was built as an experiment to try and confront the impersonal nature the digital world often provokes. Despite all the bad press the internet has been given in regards to ironically disconnecting us from real relationships, being online can bring us together in ways which until recently were unimaginable. <br><br>I read lots of growth books, and one author who especially struck me was Brené Brown. She speaks about how vulnerability is crutial for connection, and I agree with her. It is easy to dehumanize in this world--to pretend that people don't have emotion and stories because they commit acts of evil, because they look or think differently from us, or because they are behind a screen. Blurty was made to remind us that we are all human, we all have stories, and we are all beautiful.
  </p>
</div>